<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyj.dao.PostReplyMapper">
    <select id="getEarliestPostReplyFromPost" resultType="entities.PostReply">
        SELECT postReplyID,postreply.`userID`,userName,postTitle,postReplyContent,postReplyTime FROM postreply
        JOIN user ON postreply.`userID` = user.`userID`
        JOIN post ON postreply.`postID` = post.`postID`
        WHERE postreply.`postID` = ${postID}
        ORDER BY postReplyTime
        LIMIT 1
    </select>

    <select id="getLatestPostReplyFromPost" resultType="entities.PostReply">
        SELECT postReplyID,postreply.`userID`,userName,postTitle,postReplyContent,postReplyTime FROM postreply
        JOIN user ON postreply.`userID` = user.`userID`
        JOIN post ON postreply.`postID` = post.`postID`
        WHERE postreply.`postID` = ${postID}
        ORDER BY postReplyTime desc
        LIMIT 1
    </select>

    <select id="getAllReplyFromPost" resultType="entities.PostReply">
        SELECT postReplyID,userName,postTitle,postReplyContent,postReplyTime FROM postreply
        JOIN user ON postreply.`userID` = user.`userID`
        JOIN post ON postreply.`postID` = post.`postID`
        WHERE postreply.`postID` = ${postID}
        ORDER BY postReplyTime
    </select>

    <insert id="insertNewPostReply" useGeneratedKeys="true" keyProperty="postReplyID">
        insert into postreply
        values(null,${postReply.userID},${postReply.postID},#{postReply.postReplyContent},#{postReply.postReplyTime})
    </insert>

    <update id="addPostReplyNumber">
        UPDATE post SET replyNumber = replyNumber + 1 WHERE postID = ${postID}
    </update>

</mapper>
