<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyj.dao.FileMapper">
    <select id="getFilePath" resultType="entities.MyFile">
        select * from file where fileID = ${fileID}
    </select>

    <insert id="uploadUserAvatar" useGeneratedKeys="true" keyProperty="fileID">
        insert into file values(null,${userAvatar.userID},#{userAvatar.fileName},#{userAvatar.filePath})
    </insert>
</mapper>
