<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyj.dao.PostManageMapper">
    <select id="selectPost" resultType="entities.Post">
        SELECT postID,postTitle,replyNumber,userName,postDate FROM
        post JOIN USER ON post.`userID` = user.`userID`
        <if test="searchField != 'all'">
            where postTitle like '%${searchField}%'
        </if>
    </select>
</mapper>
