<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyj.dao.PostManageMapper">
    <select id="selectPost" resultType="entities.Post">
        SELECT postID,postTitle,blockName,replyNumber,userName,postDate FROM post
        JOIN user ON post.`userID` = user.`userID`
        JOIN block ON post.`blockID` = block.`blockID`
        <if test="searchField != 'all'">
            where postTitle like '%${searchField}%'
        </if>
    </select>

    <delete id="deletePost">
        delete from userreply where postID = ${postID};
        delete from postreply where postID = ${postID};
        delete from post where postID = ${postID};
    </delete>
</mapper>
