<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyj.dao.PostReplyManageMapper">
    <select id="selectPostReply" resultType="entities.PostReply">
        SELECT postReplyID,postReplyContent,postTitle,userName,postReplyTime
        FROM postreply
        JOIN USER ON postreply.`postID` = user.`userID`
        JOIN post ON postreply.`postID` = post.`postID`
        <if test="searchField != 'all'">
            where postReplyContent like '%${searchField}%'
        </if>
        ORDER BY postReplyTime

    </select>

</mapper>
