<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyj.dao.UserManageMapper">
    <select id="selectUser" resultType="entities.User">
        select userID,userName,userAccount,authority from user
        <if test="searchField != 'all'">
        where userName like '%${searchField}%'
        </if>
    </select>

    <update id="modifyUserAuthority">
        update user set authority = #{authority}
        where userID = ${userID}
    </update>
</mapper>
